 <!-- Otras secciones de información del perfil -->
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="stacked">Nombres</ion-label>
    <ion-input
      formControlName="firstname"
      fill="outline"
      [clearInput]="true"
      [counter]="true"
      maxlength="30"
      placeholder="Jean Pierre"
    ></ion-input>
    <ion-note color="danger">
      @if(getformHasError(registerForm,'firstname','required')&&getFormHasTouch(registerForm,'firstname')){
      Nombres es requerido }
      @if(getformHasError(registerForm,'firstname','minlength')&&getFormHasTouch(registerForm,'firstname')){
      Nombres debe tener al menos 3 caracteres. }
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellidos</ion-label>
    <ion-input
      formControlName="lastname"
      fill="outline"
      [clearInput]="true"
      [counter]="true"
      maxlength="50"
      placeholder="Rodríguez"
    ></ion-input>

    <ion-note color="danger">
      @if(getformHasError(registerForm,'lastname','required')&&getFormHasTouch(registerForm,'lastname')){
      Nombres es requerido }
      @if(getformHasError(registerForm,'lastname','minlength')&&getFormHasTouch(registerForm,'lastname')){
      Nombres debe tener al menos 3 caracteres. }
    </ion-note>
  </ion-item>
  <div class="flex_button_register">
    <ion-button
    [disabled]="registerForm.invalid && isEditing"
    shape="round"  fill="outline" (click)="toggleEdit()">
      <ion-icon name="pencil-outline"></ion-icon>
      {{ isEditing ? 'Guardar' : 'Editar' }}
    </ion-button>
    <ion-button
          *ngIf="isEditing"
          (click)="cancelEdit()"
          fill="outline"
          type="button"
          color="danger"
        >
          Cancelar
        </ion-button>
  </div>
</form>
