<app-navbar [title]="'Agenda APP'" />

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-breadcrumbs  class="breadcrumbs-left">
        <ion-breadcrumb routerLink="/">
          Bienvenida
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb >
          Inicio de sesión
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-toolbar>
  </ion-header>

  <div class="flex-register">
    <ng-lottie [options]="options" [styles]="styles"></ng-lottie>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input
          formControlName="email"
          fill="outline"
          [clearInput]="true"
          [counter]="true"
          maxlength="50"
          type="email"
          placeholder="example@hotmail.com"
        ></ion-input>
        <ion-note color="danger">
          @if(getformHasError('email','required')&&getFormHasTouch('email')){
          Correo es requerido. }
          @if(getformHasError('email','email')&&getFormHasTouch('email')){
          Correo invalido. }
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input
          formControlName="password"
          fill="outline"
          [counter]="true"
          maxlength="10"
          [type]="IsPassword ? 'text' : 'password'"
          placeholder="**********"
        >
          <ion-button
            (click)="SeePassword()"
            fill="clear"
            [color]="loginForm.get('password')?.invalid&&getFormHasTouch('password')?'danger':'primary'"
            slot="end"
            aria-label="Show/hide"
          >
            <ion-icon
              slot="icon-only"
              [name]="IsPassword ? 'eye-outline' : 'eye-off-outline'"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
        </ion-input>
        <ion-note color="danger">
          @if(getformHasError('password','required') &&
          getFormHasTouch('password')){ Contraseña es requerida. }
          @if(getformHasError('password','minlength') &&
          getFormHasTouch('password')){ Contraseña debe tener mínimo 3
          caracteres } @if(getformHasError('password','maxlength') &&
          getFormHasTouch('password')){ Contraseña debe tener máximo 10
          caracteres }
        </ion-note>
      </ion-item>

      <div class="flex_button_register">
        <ion-button
          [fill]="loginForm.invalid?'outline':'clear'"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          <ion-icon name="person-add-outline"></ion-icon>
          Iniciar Sesión
        </ion-button>
        <ion-text color="secondary" routerLink="/auth/register">
          <p>¿No tienes cuenta?</p>
        </ion-text>
      </div>
    </form>
  </div>
</ion-content>
