app-avatar-initials{
  font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */

}

ion-item {
  --inner-padding-start: 0px; /* Ajustar según sea necesario */
  --inner-padding-end: 20px; /* Ajustar según sea necesario */
  --min-height: 56px; /* Ajustar según sea necesario */
}
ion-label{
  margin-left: 1.2em;
}
