<form [formGroup]="PasswordForm" (ngSubmit)="onSubmitPassword()">
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input
      formControlName="password"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('password')"
        fill="clear"
        [color]="
          PasswordForm.get('password')?.invalid &&
          getFormHasTouch(PasswordForm, 'password')
            ? 'danger'
            : 'primary'
        "
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    @if(getformHasError(PasswordForm,'password','required') &&
    getFormHasTouch(PasswordForm,'password')){
    <ion-note color="danger"> Contraseña es requerida. </ion-note>
    } @if(getformHasError(PasswordForm,'password','minlength') &&
    getFormHasTouch(PasswordForm,'password')){
    <ion-note color="danger">
      Contraseña debe tener mínimo 3 caracteres
    </ion-note>
    } @if(getformHasError(PasswordForm,'password','maxlength') &&
    getFormHasTouch(PasswordForm,'password')){
    <ion-note color="danger">
      Contraseña debe tener máximo 10 caracteres
    </ion-note>
    } @if(!passwordCheck&&getFormHasTouch(PasswordForm,'password')){
    <ion-note color="danger"> Contraseña es incorrecta. </ion-note>
    } @if(passwordCheck){
    <ion-note color="success"> Contraseña es correcta. </ion-note>
    }
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nueva Contraseña</ion-label>
    <ion-input
      formControlName="new_password"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsNewPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('new_password')"
        fill="clear"
        [color]="
          PasswordForm.get('new_password')?.invalid &&
          getFormHasTouch(PasswordForm, 'new_password')
            ? 'danger'
            : 'primary'
        "
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsNewPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    @if(getformHasError(PasswordForm,'new_password','required') &&
    getFormHasTouch(PasswordForm,'new_password')){
    <ion-note color="danger"> Nueva Contraseña es requerida. </ion-note> }
    @if(getformHasError(PasswordForm,'new_password','minlength') &&
    getFormHasTouch(PasswordForm,'new_password')){
    <ion-note color="danger">
      Nueva Contraseña debe tener mínimo 3 caracteres
    </ion-note>
    } @if(getformHasError(PasswordForm,'new_password','maxlength') &&
    getFormHasTouch(PasswordForm,'new_password')){
    <ion-note color="danger">
      Nueva Contraseña debe tener máximo 10 caracteres
    </ion-note>
    }
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirmar Contraseña</ion-label>
    <ion-input
      formControlName="new_password_confirmation"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsConfirmationPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('Confirmation_password')"
        fill="clear"
        [color]="
          PasswordForm.get('new_password_confirmation')?.invalid &&
          getFormHasTouch(PasswordForm, 'new_password_confirmation')
            ? 'danger'
            : 'primary'
        "
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsConfirmationPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    @if(getformHasError(PasswordForm,'new_password_confirmation','required') &&
    getFormHasTouch(PasswordForm,'new_password_confirmation')){
    <ion-note color="danger">
      Confirmación de contraseña es requerida.
    </ion-note>
    } @if(getformHasError(PasswordForm,'new_password_confirmation','minlength')
    && getFormHasTouch(PasswordForm,'new_password_confirmation')){
    <ion-note color="danger">
      Confirmación de contraseña debe tener mínimo 3 caracteres
    </ion-note>
    } @if(getformHasError(PasswordForm,'new_password_confirmation','maxlength')
    && getFormHasTouch(PasswordForm,'new_password_confirmation')){
    <ion-note color="danger">
      Confirmación de contraseña debe tener máximo 10 caracteres
    </ion-note>
    }
    @if(PasswordForm.hasError('passwordMismatch')&&getFormHasTouch(PasswordForm,'new_password_confirmation')){
    <ion-note color="danger"> Las contraseñas deben coincidir </ion-note>
    }
  </ion-item>
  <div class="flex_button_register">
    <ion-button fill="outline" type="submit" [disabled]="PasswordForm.invalid||!passwordCheck">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>
</form>
