<form [formGroup]="PasswordForm" (ngSubmit)="onSubmitPassword()">
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input
      formControlName="password"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('password')"
        fill="clear"
        [color]="PasswordForm.get('password')?.invalid&&getFormHasTouch(PasswordForm,'password')?'danger':'primary'"
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    <ion-note color="danger">
      @if(getformHasError(PasswordForm,'password','required') &&
      getFormHasTouch(PasswordForm,'password')){ Contraseña es requerida. }
      @if(getformHasError(PasswordForm,'password','minlength') &&
      getFormHasTouch(PasswordForm,'password')){ Contraseña debe tener mínimo 3
      caracteres } @if(getformHasError(PasswordForm,'password','maxlength') &&
      getFormHasTouch(PasswordForm,'password')){ Contraseña debe tener máximo 10
      caracteres }
    </ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nueva Contraseña</ion-label>
    <ion-input
      formControlName="new_password"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsNewPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('new_password')"
        fill="clear"
        [color]="PasswordForm.get('new_password')?.invalid&&getFormHasTouch(PasswordForm,'new_password')?'danger':'primary'"
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsNewPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    <ion-note color="danger">
      @if(getformHasError(PasswordForm,'new_password','required') &&
      getFormHasTouch(PasswordForm,'new_password')){ Nueva Contraseña es requerida. }
      @if(getformHasError(PasswordForm,'new_password','minlength') &&
      getFormHasTouch(PasswordForm,'new_password')){ Nueva Contraseña debe tener mínimo 3
      caracteres } @if(getformHasError(PasswordForm,'new_password','maxlength') &&
      getFormHasTouch(PasswordForm,'new_password')){ Nueva Contraseña debe tener máximo 10
      caracteres }
    </ion-note>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Confirmar Contraseña</ion-label>
    <ion-input
      formControlName="confirmPassword"
      fill="outline"
      [counter]="true"
      maxlength="10"
      [type]="IsConfirmationPassword ? 'text' : 'password'"
      placeholder="**********"
    >
      <ion-button
        (click)="SeePassword('Confirmation_password')"
        fill="clear"

        [color]="PasswordForm.get('confirmPassword')?.invalid&&getFormHasTouch(PasswordForm,'confirmPassword')?'danger':'primary'"
        slot="end"
        aria-label="Show/hide"
      >
        <ion-icon
          slot="icon-only"
          [name]="IsConfirmationPassword ? 'eye-outline' : 'eye-off-outline'"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-input>
    <ion-note color="danger">
      @if(getformHasError(PasswordForm,'confirmPassword','required') &&
      getFormHasTouch(PasswordForm,'confirmPassword')){ Confirmación de contraseña es
      requerida. } @if(getformHasError(PasswordForm,'confirmPassword','minlength') &&
      getFormHasTouch(PasswordForm,'confirmPassword')){ Confirmación de contraseña debe
      tener mínimo 3 caracteres }
      @if(getformHasError(PasswordForm,'confirmPassword','maxlength') &&
      getFormHasTouch(PasswordForm,'confirmPassword')){ Confirmación de contraseña debe
      tener máximo 10 caracteres }
      @if(PasswordForm.hasError('passwordMismatch')&&getFormHasTouch(PasswordForm,'confirmPassword')){
        Las contraseñas deben coincidir
      }
    </ion-note>
  </ion-item>
  <div class="flex_button_register">
    <ion-button shape="round"  fill="outline" type="submit" [disabled]="PasswordForm.invalid">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      Guardar
    </ion-button>
  </div>

</form>
