.flex-register {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    width: 100%;
  }
}

.flex_button_register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-item {
  margin-bottom: 20px;
}

.breadcrumbs-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 16px; /* Ajustar según sea necesario */
  font-size: 12px; /* Ajustar el tamaño del texto según sea necesario */
}

.breadcrumbs-left ion-breadcrumb {
  font-size: 12px; /* Asegurarse de que el tamaño se aplique a los breadcrumbs */
}
