

ion-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 10em;
}

ion-segment{
  margin-top: 6em;
  padding: 1em;
}
ion-icon{
  font-size: 1.5em;
}
ion-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.container-information-password-profile{
  margin-top: 1em;
}

.flex_button_register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.flex_mode_dark_light{
  display: flex;
  justify-content: center;
  align-items: center;
}






