

ion-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 5em;
}

ion-segment{
  margin-top: 6em;
  padding: 1em;
}
ion-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.container-information-password-profile{
  margin-top: 1em;
}

.flex_button_register {
  width: 25%;
  margin: 0 auto;
  margin-top: 2em;
}






