<app-navbar [title]="'Contactos'" />

<ion-content [fullscreen]="true">
  <ion-segment
    value="contacts"
    color="medium"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="contacts">
      <ion-icon
        [name]="selectedSegment==='contacts'?'call':'call-outline'"
      ></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-icon
        [name]="selectedSegment==='favorites'?'star':'star-outline'"
      ></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <div class="flex_search_and_filter searchContact">
    <ion-searchbar
      [debounce]="1000"
      (ionInput)="handleInputContacts($event,'contacts')"
    >
    </ion-searchbar>
    <ion-item>
      <ion-select value="all" (ionChange)="handleChangeFilter($event)">
        <ion-select-option value="all">Todos</ion-select-option>
        <ion-select-option value="name">Nombre</ion-select-option>
        <ion-select-option value="phone">Telefono</ion-select-option>
        <ion-select-option value="nickname">Apodo</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <div class="flex_filter">
    <ion-chip
      size="sm"
      [outline]="true"
      [color]="selectedSearch === 'Nombre' ? 'success' : 'default'"
      (click)="onChipClick('Nombre')"
      >Nombre</ion-chip
    >
    <ion-chip
      size="sm"
      [outline]="true"
      [color]="selectedSearch === 'Apodo' ? 'success' : 'default'"
      (click)="onChipClick('Apodo')"
      >Apodo</ion-chip
    >
    <ion-chip
      size="sm"
      [outline]="true"
      [color]="selectedSearch === 'Teléfono' ? 'success' : 'default'"
      (click)="onChipClick('Teléfono')"
      >Teléfono</ion-chip
    >
  </div>

  @if(selectedSegment==='contacts'){

  <ion-item class="crear-contacto" routerLink="/dashboard/contacts/create">
    <ion-avatar aria-hidden="true" slot="start">
      <app-avatar-initials firstName="C" lastName="C" customClass="small" />
    </ion-avatar>
    <ion-label>Crear Contacto</ion-label>
  </ion-item>
  }

  <ion-list>
    @if(selectedSegment==='contacts'){ @if(contacts$|async; as contacts){
    @for(item of contacts.data.data; track item.id) {
    <app-list-contact [contact]="item" />} } }
    @if(selectedSegment==='favorites'){ @if(favorites$|async; as favorites){
    @for(item of favorites.data.data; track item.id) {
    <app-list-contact [contact]="item.contact" />} } }
  </ion-list>
</ion-content>
