<app-navbar [title]="'Contactos'" />

<ion-content [fullscreen]="true">
  <ion-segment
    value="contacts"
    color="medium"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="contacts">
      <ion-icon name="call-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-icon name="star-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  @if(selectedSegment==='contacts'){
  <ion-item class="crear-contacto" routerLink="/dashboard/contacts/create">
    <ion-avatar aria-hidden="true" slot="start">
      <app-avatar-initials firstName="C" lastName="C" customClass="small" />
    </ion-avatar>
    <ion-label>Crear Contacto</ion-label>
  </ion-item>
  }

  <ion-list>
    @if(selectedSegment==='contacts'){
    <app-list-contact />
    <app-list-contact />
    <app-list-contact />
    } @if(selectedSegment==='favorites'){
    <app-list-contact />
    <app-list-contact />
    <app-list-contact />

    }
  </ion-list>
</ion-content>
