
ion-list{
  margin-top: 1em;
}
.crear-contacto{
  margin-top: .3em;
}

ion-searchbar{
  margin-top: .5em;
}
.flex_search_and_filter{
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.flex_options{

  background-color: red;
}
