.flex-register{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form{
    width: 100%;
  }
}

.flex_button_register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-item {
  margin-bottom: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
form{
  width: 100%;
}
.container-avatar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs-left {
  display: flex;
  justify-content: flex-start;
  padding-left: 16px; /* Ajustar según sea necesario */
  font-size: 12px; /* Ajustar el tamaño del texto según sea necesario */
}
.breadcrumbs-left ion-breadcrumb {
  font-size: 12px; /* Asegurarse de que el tamaño se aplique a los breadcrumbs */
}
