<app-navbar [title]="'Crear contacto'" [hrefDefault]="'/dashboard'" />

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-breadcrumbs class="breadcrumbs-left">
        <ion-breadcrumb routerLink="/dashboard">
          Contactos
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
        <ion-breadcrumb>
          Crear Contacto
          <ion-icon slot="separator" name="arrow-forward-circle"></ion-icon>
        </ion-breadcrumb>
      </ion-breadcrumbs>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="container-avatar">
      <app-avatar-initials
        [firstName]="firstName"
        [lastName]="lastName"
        customClass="large"
      />
    </div>
    <form [formGroup]="contactForm" (submit)="createContact()">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input
          formControlName="name"
          fill="outline"
          [clearInput]="true"
          [counter]="true"
          maxlength="50"
          type="text"
          placeholder="Jean Pierre"
        ></ion-input>

        @if(name?.invalid && (name?.dirty || name?.touched)){
        <ion-note color="danger">
          @if(name?.hasError('required')){ Nombre es requerido. }
          @if(name?.hasError('minlength')) { Debe tener mínimo 3 caracteres. }
          @if(name?.hasError('maxlength')) { Como máximo se permiten 50
          caracteres. }
        </ion-note>
        }
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefono</ion-label>
        <ion-input
          formControlName="phone"
          fill="outline"
          [clearInput]="true"
          [counter]="true"
          maxlength="10"
          minlength="10"
          type="text"
          placeholder="0987654320"
        ></ion-input>
        @if(phone?.invalid && (phone?.dirty || phone?.touched)){
        <ion-note color="danger">
          @if(phone?.hasError('required')){ Telefono es requerido. }
          @if(phone?.hasError('minlength')) { Debe tener mínimo 10 caracteres. }
          @if(phone?.hasError('maxlength')) { Como máximo se permiten 10
          caracteres. } @if(phone?.hasError('pattern')) { Solo se permiten
          caracteres del 0-9. }
        </ion-note>
        }
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apodo (opcional)</ion-label>
        <ion-input
          formControlName="nickname"
          fill="outline"
          [clearInput]="true"
          [counter]="true"
          maxlength="50"
          type="text"
          placeholder="JP"
        ></ion-input>
        <ion-note color="danger">
          @if(nickname?.invalid && (nickname?.dirty || nickname?.touched)){
          <ion-note color="danger">
            @if(nickname?.hasError('minlength')) { Debe tener mínimo 10
            caracteres. } @if(nickname?.hasError('maxlength')) { Como máximo se
            permiten 10 caracteres. }
          </ion-note>
          }
        </ion-note>
      </ion-item>

      <div class="flex_button_register">
        <ion-button
          [fill]="contactForm.invalid?'outline':'clear'"
          type="submit"
          [disabled]="contactForm.invalid"
        >
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Crear Contacto
        </ion-button>
        <ion-button (click)="deleteContact()" [fill]="'outline'" type="button" color="danger">
          <ion-icon slot="start" name="trash-outline"></ion-icon>Eliminar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
